.payment label {
  font-weight: 600;
  color: #000d6b;
}

.payment button {
  padding: 8px 15px;
  border: none;
  outline: none;
  background: #000d6b;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}
